.colorSquare {
  width: 90%;
  max-width: 325px;
  margin: 20px;
  border: 1px black solid;
  color: white;
  border-radius: 5px;
}

.colorSquareTitle {
  font-size: 30px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: -5px;
}

.colorSquareDivider {
  margin: 0px;
}

.colorSquareBody {
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  height: 145px;
  line-height: 22px;
  font-size: 14px;
}

.colorSquareBtn {
  height: 30px;
  font-size: 15px;
  color: white;
  border: white 1px solid;
  font-weight: 400;
  margin-bottom: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.colorSquareBtn:hover {
  border: rgb(255, 238, 141) 1px solid;
  color: rgb(255, 238, 141);
}
