.footer {
  background-color: #222222;
  color: #fff;

  .footer-grid{
    padding-top: 50px;
    padding-bottom: 50px;    
  }

  .footer-columns {
    text-align: center;
    .footer-header {
      font-size: 20px;
    }

    .footer-items {
      ul {
        padding-left: 0; 
        li {
          color: #c8c8c8; 
          list-style-type: none;
          font-size: 12px;
          margin-top: 12px;
          margin-bottom: 12px;
          word-wrap: break-word;
          white-space: pre-line;

          a {
            color: #c8c8c8;
            text-decoration: none;
          }

          .contact-icon {
            text-align: left;
            display: flex;
            justify-content: center;

            .contact-label {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .border {
      display: block;
      width: 80%;
      height: 1px;
      background: rgb(109, 109, 109);
      margin: 30px auto;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    text-align: center;
    height: 50px;
  }

  .footer-columns {
    margin-left:0px;
  }
}
