.hoursContainer {
    width: 85%;
    max-width:325px;
    margin:20px;
    margin-top:80px;
    border: 1px black solid;
    color:white;
    border-radius: 20px;
    background:black;
    opacity:0.8;
}

.hoursTitle {
    font-size:25px;
    margin:0px;
    margin-top:15px;
}